/vendor/*
/config/app.php

/tmp/*

/logs/*
!/logs/empty

.DS_Store

*.orig

/dist/*
/node_modules/*

INSTALL-README.txt

script/ctadv
script/ctadv.cfg
script/.ctadv.cfg
script/htdocs
script/stack

config/Migrations/schema-dump-default.lock
